%button{
    display: inline-block;
    margin: 3px;
    padding: 8px 20px;
    border-radius: 5px;

    %button:hover{
        transform: scale(.98);
    }
}

.button-primary{
    @extend %button;
    @include set-background(lighten($primary-color, 10%));
     // background-color: lighten($primary-color, 10%);
    // darken()
}

.button-secondary{
    @extend %button;
    @include set-background($secondary-color);    
    // background-color: $secondary-color ;
}